<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechInvent</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?anticache=true" asp-append-version="true" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


</head>
<body>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TechInvent</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                @await Component.InvokeAsync("Search")
                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <div class="btn-group">
                                        <a class="nav-link" style="padding-right: 0" asp-area="" asp-controller="TechRequest" asp-action="Index">Заявки</a>
                                        <a class="nav-link dropdown-toggle dropdown-toggle-split" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-controller="TechRequest" asp-action="Create">Создать заявку</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            @if (Context.User.IsInRole("admin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Оборудование
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li>
                                            <a class="nav-link" asp-area="" asp-controller="CabinetEquipments" asp-action="Index">Список оборудования</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" asp-area="" asp-controller="CabinetEquipmentTypes" asp-action="Index">Типы оборудования</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" asp-area="" asp-controller="Vendors" asp-action="Index">Производители</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Import" asp-action="Index">Импорт</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="InventStuff" asp-action="DecommissionedStuff">Списанное оборудование</a>
                                </li>
                            }
                        </ul>
                        <div class="nav-item">
                            <form asp-controller="InventStuff" asp-action="Search">
                                <input id="searchInput" type="text" class="form-control" name="query" value="@ViewBag.query" placeholder="Поиск..." />
                            </form>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Auth" asp-action="Logout">Выйти</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    }
    <div class="container d-flex flex-column min-vh-100">
        <main role="main" class="pb-3 flex-grow-1">
            @RenderBody()
        </main>

    </div>
    <footer>
        <a href="https://github.com/sh4r1k" style="color: inherit;">
            <svg bootstrap-icon="Github" width="24" height="24" aria-label="Alarms"></svg>
        </a>
        <div class="text-center p-3">
            &copy; @DateTime.UtcNow.Year - TechInvent - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(function () {
            $("#searchInput").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("AutoComplete", "InventStuff")',
                        data: { query: request.term },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 2,
            });
        });
    </script>
</body>
</html>

@await Component.InvokeAsync("Toastify")