@model IEnumerable<TechInvent.DM.Models.Monitor>

@{
    ViewData["Title"] = "Мониторы";
}

<h1>Мониторы</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Добавить новый монитор</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Инвентарный номер
            </th>
            <th>
                Рабочее место
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventNumber)
            </td>
            <td>
                @if (item.Workplace != null){
                <a class="text-decoration-none" asp-action="Details" asp-controller="Workplaces" asp-route-id="@item.IdWorkplace">@item.Workplace.Name</a>
                }
                else{
                  @("Не привязан")
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMonitor">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMonitor">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
