@model Workplace

@{
    ViewData["Title"] = @ViewData["PCName"];
}

<div class="container row mt-4">
    <h1>@ViewData["PCName"]</h1>
    <div style="padding-top: 1em;">
        <a class="btn btn-secondary" asp-action="Index" asp-route-id="@Model?.IdCabinet">Назад</a>
        <a class="btn btn-secondary" asp-action="PublicGenerateReportById" asp-route-id="@Model?.Guid">Экспортировать в Excel</a>
    </div>
    <div class="col-md-6">
        <h3 style="padding-top: 1em; padding-bottom: 1em;">Комплектующие</h3>
        <div class="scrollable-div" style="height: 35em">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMainboard">
                    Материнская плата
                </button>
            </h2>
            <div id="collapseMainboard" class="accordion-collapse collapse">
                @foreach (var component in Model.Components.Where(c => c.Mainboard != null))
                {
                    <div class="card">
                        <div class="card-body">
                                <h5 class="card-title"><a href="https://yandex.ru/search/?text=@{@component.Mainboard?.Name} драйвера">@component.Mainboard?.Name</a></h5>
                            <p class="card-text">Серийный номер: @component.Mainboard?.SerialNumber</p>
                            <p class="card-text">Рабочее место: @component.IdWorkplaceNavigation.Name</p>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCPU">
                    Процессор
                </button>
            </h2>
            <div id="collapseCPU" class="accordion-collapse collapse">
                @foreach (var component in Model.Components.Where(c => c.Processor != null))
                {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="https://yandex.ru/search/?text=@{@component.Processor?.Name} драйвера">@component.Processor?.Name</a></h5>
                            <p class="card-text">Количество ядер: @component.Processor?.PhysicalCores</p>
                            <p class="card-text">Количество логических ядер: @component.Processor?.LogicalCores</p>
                            <p class="card-text">Максимальная частота: @component.Processor?.MaxClockSpeed</p>
                            <p class="card-text">Рабочее место: @component.IdWorkplaceNavigation.Name</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGPU">
                    Видеокарта
                </button>
            </h2>
            <div id="collapseGPU" class="accordion-collapse collapse">
                @foreach (var component in Model.Components.Where(c => c.Gpu != null))
                {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="https://yandex.ru/search/?text=@{@component.Gpu?.Name} драйвера">@component.Gpu?.Name</a></h5>
                            <p class="card-text">Объём памяти: @component.Gpu?.AdapterRam</p>
                            <p class="card-text">Рабочее место: @component.IdWorkplaceNavigation.Name</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRam">
                    Оперативная память
                </button>
            </h2>
            <div id="collapseRam" class="accordion-collapse collapse">
                @foreach (var component in Model.Components.Where(c => c.Ram != null))
                {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@component.Ram?.Name</h5>
                            <p class="card-text">Скорость: @component.Ram?.Speed</p>
                            <p class="card-text">Ёмкость: @component.Ram?.Capacity</p>
                            <p class="card-text">Код партии: @component.Ram?.PartNumber</p>
                            <p class="card-text">Серийный номер: @component.Ram?.SerialNumber</p>
                            <p class="card-text">Производитель: @component.Ram?.IdManufacturerNavigation.Name</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNet">
                    Сетевые адаптеры
                </button>
            </h2>
            <div id="collapseNet" class="accordion-collapse collapse">
                @foreach (var component in Model.Components.Where(c => c.NetAdapter != null))
                {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="https://yandex.ru/search/?text=@{@component.NetAdapter?.Name} драйвера">@component.NetAdapter?.Name</a></h5>
                            <p class="card-text">MAC: @component.NetAdapter?.MacAddress</p>
                            <p class="card-text">Производитель: @component.NetAdapter?.IdManufacturerNavigation?.Name</p>
                            <p class="card-text">Тип адаптера: @component.NetAdapter?.AdapterTypeIdAdapterTypeNavigation?.Name</p>

                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDisk">
                    Диски
                </button>
            </h2>
            <div id="collapseDisk" class="accordion-collapse collapse">
                @foreach (var component in Model.Components.Where(c => c.Disk != null))
                {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="https://yandex.ru/search/?text=@{@component.Disk?.Model}">@component.Disk?.Model</a></h5>
                            <p class="card-text">Объем: @component.Disk?.Size ГБ</p>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    </div>

    <div class="col-md-6">
        <h3 style="padding-top: 1em; padding-bottom: 1em;">Программное Обеспечение</h3>
        @{
            var groups = Model.InstalledSoftware.GroupBy(s => s.SoftwareNavigation.IdManufacturer);
            <div class="scrollable-div" style="height: 35em">
                @foreach (var group in groups)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#group_@group.Key">
                                @group.FirstOrDefault()?.SoftwareNavigation.ManufacturerNavigation.Name
                            </button>
                        </h2>
                        <div id="group_@group.Key" class="accordion-collapse collapse">
                            @foreach (var software in group)
                            {
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">@software.SoftwareNavigation?.Name</h5>
                                        <p class="card-text">Версия: @software.SoftwareNavigation?.Version</p>
                                        <p class="card-text">Производитель: @software.SoftwareNavigation?.ManufacturerNavigation.Name</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>