@using System.Globalization
@model Workplace

@{
    ViewData["Title"] = @ViewData["PCName"];
}

<div style="padding-top: 1em;">
    <a class="btn btn-secondary" asp-action="Index" asp-route-id="@Model?.IdCabinet">Назад</a>
    @if (Context.User.IsInRole("admin"))
    {
    <a class="btn btn-secondary" data-bs-toggle="modal" data-invent-number="@Model?.InventNumber" data-workplace-id="@Model?.IdInventStuff" data-bs-target="#editWorkplaceModal">Изменить инвентарный номер</a>
    <a class="btn btn-secondary" data-bs-toggle="modal" data-invent-number="@Model?.SerialNumber" data-workplace-id="@Model?.IdInventStuff" data-bs-target="#editWorkplaceSerialModal">Изменить серийный номер</a>
    }
</div>

<div class="container row mt-4">
    <div class="card">
            <h4 class="card-header card-title">
                Рабочее место (@Model.IdCabinetNavigation.Name)
            </h4>
        <div class="card-body">
            <p class="card-text">Имя компьютера: <small class="text-body-secondary">@ViewData["PCName"]</small></p>
            @if (Model.InventNumber != null){
                <p class="card-text">Инвентарный номер: <small class="text-body-secondary">@Model.InventNumber</small></p>
            }
            <p class="card-text">Операционная система: <small class="text-body-secondary">@Model.IdOsNavigation.OsName</small></p>
            <p class="card-text">ID для публичного доступа: <small class="text-body-secondary">@Model.Guid</small></p>
            <p class="card-text">Количество установленного ПО: <small class="text-body-secondary">@Model.InstalledSoftware.Count</small></p>
            <p class="card-text">Последнее обновление: <small class="text-body-secondary">@Model.LastUpdate.AddHours(3).ToString("g", CultureInfo.CreateSpecificCulture("ru-RU"))</small></p> <!-- Ну в перспективе надо написать определение часового пояса пользователя-->
        </div>
    </div>

    <div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingZero">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMonitor">
                    Мониторы
                </button>
            </h2>
            <div id="collapseMonitor" class="accordion-collapse collapse">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Название монитора
                            </th>
                            <th>
                                Инвентарный номер
                            </th>
                            <th>
                                Серийный номер
                            </th>
                            <th>
                                Производитель
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Monitor monitor in Model.Monitors)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => monitor.Name)
                                </td>
                                <td>
                                    @(monitor.InventNumber ?? "нет")
                                </td>
                                <td>
                                    @(monitor.SerialNumber ?? "нет")
                                </td>
                                <td>
                                    @(monitor.Vendor?.Name ?? "нет")
                                </td>
                                <td>
                                @if (Context.User.IsInRole("admin"))
                                {
                                    <form asp-action="DetachMonitor" asp-route-id="@Model.IdInventStuff" asp-route-idMonitor="@monitor.IdInventStuff" method="POST">
                                        <button class="fbtn-link" type="submit">Открепить</button>
                                    </form>
                                }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingZero">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCabinetEquipment">
                    Оборудование
                </button>
            </h2>
            <div id="collapseCabinetEquipment" class="accordion-collapse collapse">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Название
                            </th>
                            <th>
                                Инвентарный номер
                            </th>
                            <th>
                                Серийный номер
                            </th>
                            <th>
                                Производитель
                            </th>
                            <th>
                                Тип оборудования
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CabinetEquipments)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @(item.InventNumber ?? "нет")
                                </td>
                                <td>
                                    @(item.SerialNumber ?? "нет")
                                </td>
                                <td>
                                    @(item.Vendor?.Name ?? "нет")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CabinetEquipmentType.Name)
                                </td>
                                @if (Context.User.IsInRole("admin"))
                                {
                                    <td>
                                        <form asp-action="DetachEquipment" asp-controller="Workplaces" asp-route-id="@item.IdWorkplace" asp-route-idEquipment="@item.IdInventStuff" method="POST">
                                            <a class="text-decoration-none" asp-action="Edit" asp-controller="CabinetEquipments" asp-route-id="@item.IdInventStuff">Редактировать</a> |
                                            <button class="fbtn-link" type="submit">Открепить</button>
                                        </form>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h3 style="padding-top: 1em; padding-bottom: 1em;">Комплектующие</h3>
        <a class="btn btn-secondary" asp-action="PublicGenerateHardwareReportById" asp-route-id="@Model?.Guid">Экспортировать в Excel</a>
        <a class="btn btn-secondary toggleAccordion">Показать/Скрыть</a>
        <div class="scrollable-div" style="padding-top: 1em; height: 35em">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMainboard">
                    Материнская плата
                </button>
            </h2>
            <div id="collapseMainboard" class="accordion-collapse collapse">
                @foreach (Mainboard component in Model.Components.Where(c => c.Mainboard != null))
                {
                    <div class="card">
                        <div class="card-body">
                                <h5 class="card-title"><a class="text-decoration-none" href="https://yandex.ru/search/?text=@{
                                    @component.Name
} драйвера">@component.Name</a></h5>
                            <p class="card-text">Серийный номер: @component.SerialNumber</p>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCPU">
                    Процессор
                </button>
            </h2>
            <div id="collapseCPU" class="accordion-collapse collapse">
                @foreach (Processor component in Model.Components.Where(c => c.Processor != null))
                {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a class="text-decoration-none" href="https://yandex.ru/search/?text=@{@component.Name} драйвера">@component.Name</a></h5>
                            <p class="card-text">Количество ядер: @component.PhysicalCores</p>
                            <p class="card-text">Количество логических ядер: @component.LogicalCores</p>
                            <p class="card-text">Максимальная частота: @component.MaxClockSpeed</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGPU">
                    Видеокарта
                </button>
            </h2>
            <div id="collapseGPU" class="accordion-collapse collapse">
                @foreach (Gpu component in Model.Components.Where(c => c.Gpu != null))
                {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a class="text-decoration-none" href="https://yandex.ru/search/?text=@{@component.Name} драйвера">@component.Name</a></h5>
                                @if (@component.AdapterRam != string.Empty && @component.AdapterRam != null)
                                {
                                    <p class="card-text">Объём памяти: @component.AdapterRam</p>
                                }
                                @if (@component.Uuid != string.Empty && @component.Uuid != null)
                                {
                                    <p class="card-text">Уникальный ID: @component.Uuid</p>
                                }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRam">
                    Оперативная память
                </button>
            </h2>
            <div id="collapseRam" class="accordion-collapse collapse">
                @foreach (Ram component in Model.Components.Where(c => c.Ram != null))
                {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@component.Name</h5>
                            <p class="card-text">Скорость: @component.Speed</p>
                            <p class="card-text">Ёмкость: @component.Capacity</p>
                            <p class="card-text">Код партии: @component.PartNumber</p>
                            <p class="card-text">Серийный номер: @component.SerialNumber</p>
                            <p class="card-text">Производитель: @component.Ram?.IdManufacturerNavigation.Name</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNet">
                    Сетевые адаптеры
                </button>
            </h2>
            <div id="collapseNet" class="accordion-collapse collapse">
                @foreach (NetAdapter component in Model.Components.Where(c => c.NetAdapter != null))
                {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a class="text-decoration-none" href="https://yandex.ru/search/?text=@{@component.Name} драйвера">@component.Name</a></h5>
                            <p class="card-text">MAC: @component.MacAddress</p>
                            <p class="card-text">Производитель: @component.NetAdapter?.IdManufacturerNavigation?.Name</p>
                            <p class="card-text">Тип адаптера: @component.NetAdapter?.AdapterTypeNavigation?.Name</p>

                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDisk">
                    Диски
                </button>
            </h2>
            <div id="collapseDisk" class="accordion-collapse collapse">
                @foreach (Disk component in Model.Components.Where(c => c.Disk != null))
                {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a class="text-decoration-none" href="https://yandex.ru/search/?text=@{@component.Name}">@component.Name</a></h5>
                            <p class="card-text">Объем: @component.Size ГБ</p>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    </div>

    <div class="col-md-6">
        <h3 style="padding-top: 1em; padding-bottom: 1em;">Программное обеспечение</h3>
        <a class="btn btn-secondary" asp-action="PublicGenerateSoftwareReportById" asp-route-id="@Model?.Guid">Экспортировать в Excel</a>
        <a class="btn btn-secondary toggleAccordion">Показать/Скрыть</a>
        @{
            var groups = Model.InstalledSoftware.GroupBy(s => s.SoftwareNavigation.IdManufacturer);
            <div class="scrollable-div" style="padding-top: 1em; height: 35em">
                @foreach (var group in groups)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#group_@group.Key">
                                @group.FirstOrDefault()?.SoftwareNavigation.ManufacturerNavigation.Name
                            </button>
                        </h2>
                        <div id="group_@group.Key" class="accordion-collapse collapse">
                            @foreach (var software in group)
                            {
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">@software.SoftwareNavigation?.Name</h5>
                                        <p class="card-text">Версия: @software.SoftwareNavigation?.Version</p>
                                        <p class="card-text">Производитель: @software.SoftwareNavigation?.ManufacturerNavigation.Name</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

<script>
    document.querySelectorAll('.toggleAccordion').forEach(button => {
        button.addEventListener('click', function() {
            const siblingDiv = this.nextElementSibling; 
            const accordions = siblingDiv.querySelectorAll('.accordion-collapse');
            const isAnyOpen = Array.from(accordions).some(accordion => accordion.classList.contains('show'));

            accordions.forEach(accordion => {
                const collapseInstance = bootstrap.Collapse.getInstance(accordion);
                if (isAnyOpen) {
                    if (collapseInstance) {
                        collapseInstance.hide();
                    } else {
                        bootstrap.Collapse.getOrCreateInstance(accordion).hide();
                    }
                } else {
                    if (collapseInstance) {
                        collapseInstance.show();
                    } else {
                        bootstrap.Collapse.getOrCreateInstance(accordion).show();
                    }
                }
            });
        });
    });
</script>



@if (Context.User.IsInRole("admin"))
{
    <partial name="_EditInventNumberComponent.cshtml" />
    <partial name="_EditSerialNumberComponent.cshtml" />
}