@using System.Globalization
@model IEnumerable<Workplace>

@{
    ViewData["Title"] = @ViewBag.cabinetName;
}

<h1>@ViewBag.cabinetName</h1>
@{
    if (Model.Count() == 0)
    {
        <div>
            <a class="btn btn-secondary" asp-controller="Cabinets" asp-action="Index">Назад</a>
        </div>
        <div style="margin: 1rem">
            В данном кабинете ещё нет рабочих мест
        </div>
        return;
    }
    var workplaces = Model.ToList();
    <div class="row gy-2 justify-content-center justify-content-md-start">
        <a class="btn btn-secondary" asp-controller="Cabinets" asp-action="Index">Назад</a>
        <a class="btn btn-secondary" asp-action="GenerateHardwareReportByIdCabinet" asp-route-id="@workplaces[0]?.IdCabinet">Экспортировать в Excel комплектующие</a>
        <a class="btn btn-secondary" asp-action="GenerateSoftwareReportByIdCabinet" asp-route-id="@workplaces[0]?.IdCabinet">Экспортировать в Excel ПО</a>
    </div>
    <div class="row justify-content-center justify-content-lg-start">
        @for (int i = 0; i < workplaces.Count; i++)
        {
            <div class="card" style="width: 18rem;">
                <h5 class="card-header card-title">@workplaces[i].Name</h5>
                <div class="card-body">
                    <p class="card-text">ОС: @workplaces[i].IdOsNavigation.OsName</p>
                    <p class="card-text">Последнее обновление: @workplaces[i].LastUpdate.AddHours(3).ToString("g", CultureInfo.CreateSpecificCulture("ru-RU"))</p>
                    <div class="position-absolute top-0 end-0 m-2">
                        <a asp-action="Delete" asp-route-id="@workplaces[i].IdWorkplace">
                            <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke="#a020f0" d="M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6M14 10V17M10 10V17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                    </div>
                    @if (@workplaces[i].InventNumber != null)
                    {
                    <p class="card-text">Инвентарный номер: @workplaces[i].InventNumber</p> 
                    }
                    <div class="row gy-2 justify-content-center justify-content-md-start">
                        <a asp-action="Details" asp-route-id="@workplaces[i].IdWorkplace" class="btn btn-primary">Подробнее</a>
                        <a asp-action="QRCode" asp-route-id="@workplaces[i].IdWorkplace" class="btn btn-primary">QR-Код</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
