@model IEnumerable<TechInvent.DM.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Пользователи</h1>

<p>
    <a asp-action="Create">Создать нового</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Логин
            </th>
            <th>
                Пароль
            </th>
            <th>
                Роль
            </th>
            <th>
                Последння дата входа
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                ******
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
            <td>
                @(item.LastLoginDate?.ToString() ?? "не заходил")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUser">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUser">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
