@model IEnumerable<Cabinet>

@{
    ViewData["Title"] = "Кабинеты";
}

<h1>Кабинеты</h1>

@{
    var cabinets = Model.ToList();
    <div class="row gy-2 justify-content-center justify-content-md-start">
        <a class="btn btn-secondary" asp-action="GenerateReport">Экспортировать в Excel</a>
        @if (Context.User.IsInRole("admin"))
        {
            <button class="btn btn-primary" data-bs-toggle="modal" data-cabinet-name="111" data-bs-target="#addCabinetModal">Добавить кабинет</button>
        }
    </div>
    <div class="row justify-content-center justify-content-md-start">
        @for (int j = 0; j < cabinets.Count; j++)
        {
            <div class="card" style="width: 18rem;">
                <h5 class="card-header card-title">@cabinets[j].Name</h5>
                <div class="card-body">
                    <p class="card-text">Количество рабочих мест: @cabinets[j].Workplaces.Count</p>
                    <div class="row gy-2 justify-content-center justify-content-md-start">
                        <a asp-controller="Workplaces" asp-action="Index" asp-route-id="@cabinets[j].IdCabinet" class="btn btn-primary">Подробнее</a>
                        <a class="btn btn-secondary" asp-action="GenerateReportById" asp-route-id="@cabinets[j]?.IdCabinet">Экспортировать в Excel</a>
                        @if (Context.User.IsInRole("admin"))
                        {
                            <button class="btn btn-primary" data-bs-toggle="modal" data-cabinet-name="@cabinets[j].Name" data-cabinet-id="@cabinets[j].IdCabinet" data-bs-target="#editCabinetModal">Редактировать кабинет</button>
                        }
                    </div>
                    @if (cabinets[j].Name != "Не определённый")
                    {
                        <a class="position-absolute top-0 end-0 m-2" asp-action="Delete" asp-route-id="@cabinets[j].IdCabinet">
                            <img src="~/images/trashbin.svg" />
                        </a>
                    }
                </div>
            </div>
        }
    </div>
}

@if (Context.User.IsInRole("admin"))
{
    <partial name="_AddCabinetComponent.cshtml" />
    <partial name="_EditCabinetComponent.cshtml" />
}